.button_warning {
    background: orange;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border: none;
    text-align: center;
}

.for_button_warning {
    width: 100%;
    text-align: center;
}